<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nero.crm.mapper.TestMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_test(name, age)
        values(#{name}, #{age})
    </insert>

    <insert id="insertByTest" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_test(name, age) values(#{name}, #{age})
    </insert>

    <insert id="insertContactsActivityRelation">
        insert into tbl_contacts_activity_relation(contactsId, activityId) values(#{contactsId}, #{activityId})
    </insert>

    <update id="clearTables">
        truncate table tbl_activity;
        truncate table tbl_clue;
        truncate table tbl_clue_activity_relation;
        truncate table tbl_contacts;
        truncate table tbl_contacts_activity_relation;
        truncate table tbl_customer;
        truncate table tbl_customer;
        truncate table tbl_customer;
        truncate table tbl_tran;
        truncate table tbl_tran_history;
    </update>


</mapper>