<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nero.crm.mapper.UserMapper">

    <insert id="addUser">
        insert into tbl_user(uuid,loginAct,name,loginPwd,email,expireTime,lockState,allowIps,createTime,createBy,editTime,editBy)
        values (#{uuid},#{loginAct},#{name},#{loginPwd},#{email},#{expireTime},#{lockState},#{allowIps},#{createTime},#{createBy},#{editTime},#{editBy})
    </insert>

    <update id="editLoginPwd">
        update tbl_user set loginPwd = #{loginPwd} where loginAct = #{loginAct}
    </update>

    <select id="login" resultType="com.nero.crm.domain.User">
        select id,uuid,loginAct,name,email,expireTime,lockState,allowIps
        from tbl_user where loginAct = #{loginAct} and loginPwd = #{loginPwd}
    </select>

    <select id="existUser" resultType="java.lang.Integer">
        select count(1) from tbl_user where loginAct = #{loginAct}
    </select>

    <select id="checkOldLoginPwd" resultType="java.lang.Integer">
        select count(1) from tbl_user where loginPwd = #{loginPwd}
    </select>

    <select id="selectUserInfo" resultType="com.nero.crm.domain.User">
        select id, uuid, loginAct, name, email, expireTime, allowIps from tbl_user where loginAct = #{loginAct}
    </select>

    <select id="selectAllUserBaseInfo" resultType="com.nero.crm.vo.UserVO">
        select id, uuid, name from tbl_user
    </select>

</mapper>